.carrito {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 24px;
    border: 0;
}

.carrito__articulos {
    width: 100%;
    border: 0;
}

.articulos__contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titulos__nombre {
    font-size: 1rem;
    font-family: var(--font-family-bold);
}

.carrito__sumario {
    width: 40%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    border: 1px solid var(--color-secundario);
    background-color: var(--color-fondo-claro);
}

.sumario__titulo {
    color: var(--color-texto-destacado);
    font-size: 1.25rem;
}

.sumario__fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (width < 992px) {
    .carrito {
        flex-direction: column;
    }

    .carrito__articulo {
        width: 100%;
    }

    .carrito__sumario {
        width: 100%;
    }
}

