.checkout {
    width: 100%;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkout__container {
    width: 100%;
    display: flex;
    gap: 16px;
}


.checkout__formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formulario__titulo {
    font-size: 2.5rem;
}

.formulario__fila {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.fila__elemento {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.elemento__titulo {
    font-family: var(--font-family-bold);
    color: var(--color-texto-primario);
    font-size: 1.125rem;
}

.elemento__input {
    padding: 16px;
    color: var(--color-texto-primario);
    font-family: var(--font-family-normal);
    border: 1px solid var(--color-secundario);
}

.checkout__datos {
    padding: 24px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: var(--color-fondo-claro);
    border: 1px solid var(--color-secundario);
    gap: 32px;
}

.checkout__boton {
    cursor: pointer;
}

.datos__titulo {
    font-size: 1.5rem;
    color: var(--color-texto-destacado);
}

.lista__dato {
    font-size: 1rem;
    font-family: var(--font-family-normal);
    color: var(--color-texto-primario);
}

.caja__lista li {
    margin-bottom: 6px;
    padding: 12px;
    border: 1px solid #333;
}

@media (width < 768px) {
    .checkout {
        flex-direction: column;
        padding: 64px 0;
    }

    .checkout__formulario {
        width: 100%;
    }

    .checkout__datos {
        width: 100%;
    }
}

@media (width < 520px) {
    .checkout {
        padding: 32px 0;
    }
    .formulario__fila {
        flex-direction: column;
    }
}