hr {
    display: none;
}

.header {
    width: 100%;
    height: 64px;
    padding-left: 48px;
    padding-right: 48px;
    box-shadow: var(--sombra-contenedor);
    background-color: var(--color-fondo-neutro);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header__nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    justify-content: flex-start;
}

.logo__icon {
    font-size: 28px;
    font-family: var(--font-family-bold);
    font-weight: bold;
}

.menuBtn-and-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menuBtn {
    visibility: hidden;
}

.nav__lista {
    display: flex;
    align-items: center;
}

.elemento__link {
    padding: 12px 16px;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.elemento__link:hover {
    color: var(--color-primario);
}

@media (width < 992px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (width < 576px) {

    hr {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #333;
    }

    .header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .menuBtn {
        visibility: visible;
    }

    .nav__lista {
        position: fixed;
        background-color: white;
        width: 60%;
        height: 100%;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        top: 64px;
        right: -320px;
        transition: all 0.3s ease-in;
    }

    #menuCheck:checked ~ .nav__lista {
        right: 0;
    }
}